#QueryBar {
  display: flex;
  margin: auto;
  flex-direction: column;
  margin-bottom: 15px;
}

#QueryBar h2 {
  font-size: 32px;
  margin-top: 10px;
  margin-bottom: 10px;
}

#QueryBar input {
  font-size: 22px;
}

#QueryBar button {
  margin-top: 10px;
  margin-left: 10px;
}

#QueryBar form {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
