#QueryBar {
  display: flex;
  margin: auto;
  flex-direction: column;
}

#QueryBar h2 {
  font-size: 32px;
}

#QueryBar input {
  font-size: 22px;
}

#QueryBar button {
  font-size: 22px;
  margin-top: 10px;
  margin-left: 10px;
}
