
.Header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 15px;
    margin-left: 1rem;
    margin-top: 1rem;
}

.Header p {
    padding-top: 0px;
    margin-top: 0px;
}