.optionsBar {
    display: flex;
    flex-direction: column;
    justify-items: center;
}

.radioContainer {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.radioContainer input[type="radio"] {
    margin-right: 5px;
}
