.All {
    display: flex;
    flex-direction: column;
}

.clearButton {
    font-size: 22px;
    min-width: 408px;
    background-color: #010101;
    color: #f7f7f7;
}

.textInput {
    font-family: MSGothic, monospace;
    font-size: 22px;
    min-width: 408px;
    width: 100%;
    min-height: 22px;
    background-color: #010101;
    color: #f7f7f7;
}

.textInput:focus {
    outline: none;
    outline-width: 0;
}