.All {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-content: flex-start;
    text-align: flex-start;
    margin-bottom: 42.5px;
}

.subtitle {
    margin-top: 1rem;
}