.Button {
  box-shadow: inset 0 0 0 3px #ff007f;
  color: #ff007f;
  background-color: transparent;
  border: 0 solid transparent;
  box-sizing: border-box;
  pointer-events: none;
  transition: #ff007f 0.25s 0.25s/3;

  line-height: 1.5;
  font: 700 1.2rem 'Roboto Slab', sans-serif;
  padding: 0.5em 1em;
  letter-spacing: 0.05rem;
}

.Button:focus {
  outline: 2px dotted #55d7dc; 
}

.Button:hover {
  color: white;
  border-color: white;
  transition: border-color 0s, width 0.25s, height 0.25s;

}
