<!DOCTYPE html>

<html>

   <head>
      <title>Gematria API</title>
      <link rel="shortcut icon" href="https://cdn.hyperdev.com/us-east-1%3A52a203ff-088b-420f-81be-45bf559d01b1%2Ffavicon.ico" type="image/x-icon"/>
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
      <link href="style.css" rel="stylesheet" type="text/css">
   </head>

   <body>
      <div class="container">
        <h2>Gematria lookup & database microservice</h2>

        <h3>Example Usage:</h3>
        <p>
          GET: [base url]/gematria/:num </br>
          POST: [base url]/gematria?word=val1&num=val2
        </p>

        <h3>Example Output:</h3>
        <p>
          GET:<code>{"hits":"[word1, word2, word3, ...]"}</code><br/>
          POST:<code>{"success":"true"}</code>
        </p>
      </div>
      <div class="footer">
        <p>
          by <a href="https://www.github.org/feydor">feydor</a>
        </p>
      </div>
   </body>


</html>
