/* stylesheet for header.js */
:root {
  scroll-behavior: smooth;
}

.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

header {
  display: flex;
  flex-direction: column;
}

a,
button,
.navbar,
.navbar-brand {
  color: white;
}

a {
  text-decoration: none;
  font-size: 24px;
}

.navbar {
  background-color: #121212;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px 0 10px;
}

.navbar-brand {
  display: flex;
  justify-content: space-between;
  margin: 0;
}

.navbar-brand img {
  width: 55px;
  height: 55px;
}

.navbar-toggler {
  background-color: transparent;
  border: none;
  outline: inherit;
  cursor: pointer;
}

.navbar-toggler svg {
  width: 25px;
  height: 25px;
}

#settings .row {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

#settings .row form {
  margin: 0 5px 0 5px;
}

.cipher-setting {
  margin-left: 25px;
}

h5 {
  margin-bottom: 5px;
}

/* starting custom checkbox/slider */
input[type="checkbox"] {
  height: 0;
  width: 0;
  visibility: hidden;
}

label {
  cursor: pointer;
  text-indent: -70px;
  width: 40px;
  height: 20px;
  background: grey;
  display: block;
  border-radius: 100px;
  position: relative;
}

label:after {
  content: "";
  position: absolute;
  top: 1px;
  left: 2px;
  width: 18px;
  height: 18px;
  background: #fff;
  border-radius: 18px;
  transition: 0.3s;
}

input:checked + label {
  background: #ff0266;
}

input:checked + label:after {
  left: calc(100% - 2px);
  transform: translateX(-100%);
}

label:active:after {
  width: 26px;
}
