.Layout {
	display: flex;
	flex-direction: column;
	max-width: 100%;
}

.margins {
	margin-left: 15px;
}

.querySection {
	display: flex;
	flex-direction: column;
	margin-top: 10px;
}

@media only screen and (max-width: 2800px) {
	.Layout {
		max-width: 100%;
		align-items: center;
	}

	.querySection {
		max-width: 100%;
		align-items: center;
	}
}