body {
    text-align: center;
    background-color: black;
    /* background-image: url('multi159.jpg'); */
    font-family: monospace;
    /* color: #E5E5E5; */
    color: #FFA500;
}

.App {
    width: 75%;
    margin: auto;
    margin-top: 10%;
    border: 2px solid #FFA500;
    border-radius: 4px;

    background-color: black;
}

#QueryBar {
    /* display: flex; */
    margin: auto;
    justify-content: center;
}

#QueryBar input {
    font-size: 22px;
}

#DigitalReductionBars {
    margin: auto;
    width: 40%;
}

.DigitalReductionBar, .GlossaryBar {
    justify-content: center;
    margin-bottom: 2px;
    border: 1px #FFA500 solid;
}

#Glossary {
    padding-bottom: 10em;
    margin: auto;
    width: 40%;
}

#Credits {
    margin-top: 11em;
}

/* color: #8A8A8A; */