body {
    font-family: arial, serif;
    color: white;
    background-color: black;
    text-align: center;

    /* background-image: url('multi159.jpg'); */
}

#title {
    font-size: 42px;
}

h2 {
    font-size: 45px;
}

/* the main body of the page */
.App {
    width: 60%;
    margin: auto;
    background-color: black;
}

#QueryBar {
    display: flex;
    margin: auto;
    flex-direction: column;
}

#QueryBar h2 {
    font-size: 40px;
}

#QueryBar input {
    font-size: 22px;
}

#QueryBar #query-save-button {
    font-size: 22px;
    width: 50%;
    margin-top: 10px;
}


#DigitalReductionBars {
    margin: auto;
    width: 50%;
    font-size: 22px;
}

.DigitalReductionBar, .GlossaryBar {
    /*justify-content: center;*/
    margin-bottom: 2px;
    border: 1px white solid;
}

#Glossary {
    padding-bottom: 10em;
    margin: auto;
    width: 50%;
}

#Credits {
    margin-top: 11em;
}

/* color: #8A8A8A; */