body {
  font-family: "Inconsolata", monospace;
  color: white;
  background-color: #000;
  text-align: center;
  margin: 0;
  padding: 0;
}

.App {
  background-color: #121212;
  padding-top: 2vh;
  padding-bottom: 2vh;
  box-shadow: 1px rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}

.main-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.main-content > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 58px;
  margin-top: 10px;
  margin-bottom: 10px;
}

h2 {
  margin-bottom: 10px;
}

@media only screen and (max-width: 600px) {
  #Glossary h2 {
    word-break: break-word;
  }
}

.shadow {
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
}

.container,
.container-fluid,
.container-xxl,
.container-xl,
.container-lg,
.container-md,
.container-sm {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container-sm, .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container-md, .container-sm, .container {
    max-width: 720px;
  }

  h1 {
    font-size: 42px;
  }
}
@media (min-width: 992px) {
  .container-lg, .container-md, .container-sm, .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container-xl, .container-lg, .container-md, .container-sm, .container {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  .container-xxl, .container-xl, .container-lg, .container-md, .container-sm, .container {
    max-width: 1320px;
  }
}
